/* For buttons */
button {
    padding: 10px 20px;
    border: none;
    background-color: #297373; /* Use the specified color */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #235f5f; /* Darken the color on hover */
  }
  
  /* For boxes or containers */
  .action-box {
    padding: 20px;
    background-color: #297373; /* Use the specified color */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .action-box:hover {
    background-color: #235f5f; /* Darken the color on hover */
  }
  